


<table mat-table [dataSource]="dataSource" matSort>
  <!--Header definition-->
  <tr mat-header-row *matHeaderRowDef="tableConfig.displayedColumns"></tr>
  <!--Body definition  -->
  <tr mat-row *matRowDef="let row; columns: tableConfig.displayedColumns;"></tr>
  <!--Body-->
  <ng-container *ngFor="let column of tableConfig.displayedColumns; index as i">
    <ng-container matColumnDef="{{tableConfig.displayedColumns[i]}}">
      <th mat-header-cell *matHeaderCellDef>
        {{tableConfig.namesColumns[i]}}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'actions'">
            <button *ngFor="let action of tableConfig.actions"
                    mat-icon-button
                    (click)="actionEvent(row, action.name)">
              <mat-icon>{{action.icon}}</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{row[column]}}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
  </ng-container>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
